.Admin-Home-Box {
    box-sizing: border-box;
    padding: 20px 40px;
    background-color: white;
    min-height: calc(100vh - 70px);
}

.Access-Header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin: 0 0 20px 0;
    font-weight: 500;
}

.Access-Row {
    width: 100%;
    height: 300px;
    padding: 20px;
    box-shadow: 0 2px 4px #ccc;
    border-radius: 8px;
}

.Access-Row canvas {
    cursor: pointer;
}

@media screen and (max-width: 800px) {

    .Admin-Home-Box {
        box-sizing: border-box;
        padding: 10px;
        background-color: white;
        min-height: calc(100vh - 50px);
    }

}

@media screen and (max-width: 450px) {

    .Admin-Home-Box {
        min-height: calc(100vh - 45px);
    }

}
