@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 100;
    src: url("/resources/fonts/NotoSansKR-Thin.woff2") format("woff2");
}

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 300;
    src: url("/resources/fonts/NotoSansKR-Light.woff2") format("woff2");
}

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 400;
    src: url("/resources/fonts/NotoSansKR-Regular.woff2") format("woff2");
}

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 500;
    src: url("/resources/fonts/NotoSansKR-Medium.woff2") format("woff2");
}

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 700;
    src: url("/resources/fonts/NotoSansKR-Bold.woff2") format("woff2");
}

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 900;
    src: url("/resources/fonts/NotoSansKR-Black.woff2") format("woff2");
}

* {
    font-family: 'NotoSansKR', sans-serif;
    font-style: normal;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: hsl(256, 100%, 65%);
}

.--Logo-Text-Style {
    letter-spacing: 2px;
    font-weight: 900;
    -webkit-text-stroke: 2px hsl(217, 14%, 18%);
    color: white;
}

.--Color-Red {
    color: orangered;
}

.--Border-Dark {
    border-color: #272c34 !important;
}

.--Background-Dark {
    background-color: #272c34 !important;
}

.--Color-Dark {
    color: #272c34 !important;
}

.--Color-Success {
    color: palegreen !important;
}

.--Color-Heart {
    color: #FF5252 !important;
}

.--Color-Error {
    color: hsl(0, 100%, 66%) !important;
}

.--Color-Violet {
    color: hsl(265, 100%, 46%) !important;
}

.--Submit-Active {
    color: white !important;
    background-color: hsl(265, 100%, 46%) !important;
}

.--Justify-Flex-End {
    justify-content: flex-end;
}

.--Justify-Flex-Start {
    justify-content: flex-start !important;
}

.--Visibility-Hidden {
    visibility: hidden;
}

.--Display-None {
    display: none;
}

.--mx-4 {
    margin: 0 4px;
}

.--D-Flex-Center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.--D-Flex {
    display: flex;
}

.--Align-Items-Center {
    align-items: center;
}

.--Justify-Contents-Center {
    justify-content: center;
}

.--ml-8 {
    margin-left: 8px;
}

.--Float-Left {
    float: left;
}

.--Float-Right {
    float: right;
}

.--Join-Form-Guide-Message {
    font-size: 13px;
    color: gray;
}

.--No-Link-Style {
    text-decoration: none;
    color: #272c34;
}

.--Half-Spin-Once-Forward {

    -webkit-animation: half-spin 500ms ease forwards;
    -moz-animation: half-spin 500ms ease forwards;
    -ms-animation: half-spin 500ms ease forwards;
    animation: half-spin 500ms ease forwards;

}


.--Half-Spin-Once-Reverse {

    -webkit-animation: half-spin 500ms ease reverse;
    -moz-animation: half-spin 500ms ease reverse;
    -ms-animation: half-spin 500ms ease reverse;
    animation: half-spin 500ms ease reverse;

}

.--Spin {

    -webkit-animation: spin 1000ms infinite linear;
    -moz-animation: spin 1000ms infinite linear;
    -ms-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-ms-keyframes spin {
    100% {
        -ms-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes half-spin {
    100% {
        -webkit-transform: rotate(180deg);
    }
}

@-moz-keyframes half-spin {
    100% {
        -moz-transform: rotate(180deg);
    }
}

@-ms-keyframes half-spin {
    100% {
        -ms-transform: rotate(180deg);
    }
}

@keyframes half-spin {
    100% {
        transform: rotate(180deg);
    }
}

@keyframes GaugeRise {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

/* Components Style */

.Topbar {
    width: 100%;
    background-color: white;
    height: 70px;
    display: grid;
    grid-template-columns: auto 1fr auto 40px;
    column-gap: 20px;
    padding: 0 20px;
    border-bottom: 1px solid #7c4dff;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    z-index: 5;
}

.Topbar-Column {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Topbar-Logo-Box {
    padding: 0 20px;
}

.Topbar-Search-Box {
    height: 45px;
    background-color: #fafafa;
    border-radius: 4px;
    width: 100%;
    grid-template-columns: auto 45px;
    padding: 0 10px;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
}

.Search-Input-Box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #272c34;
    text-align: center;
    font-weight: 500;
    border: none;
    outline: none;
}

.Search-Icon-Box {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    width: 45px;
    height: 44px;
    top: 0px;
    right: 0px;
    background-color: #fafafa;
}

.Topbar-User-Box {
    padding: 0 20px;
}

.User-Image-Box {
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin-right: 10px;
    box-shadow: 0 1px 1px black;
}

.User-Image-Box img {
    width: 100%;
    height: 100%;
}

.Topbar-Logo-Text {
    letter-spacing: 2px;
    font-weight: 900;
    -webkit-text-stroke: 2px hsl(217, 14%, 18%);
    color: #7c4dff;
    font-size: 45px;
    text-align: center;
    margin: 0 0 4px 0;
    cursor: pointer;
}

.Topbar-Link {
    text-decoration: none;
    color: #272c34;
    font-weight: 500;
}

.Topbar-Nav-Tool {
    cursor: pointer;
    padding-right: 20px;
}

.Nav-Box {
    position: absolute;
    width: 100%;
    max-height: 300px;
    top: 70px;
    border-top: 1px solid #ccc;
    overflow: hidden;
    transition: max-height 0.5s ease;
    background-color: #fafafa;
}

.Nav-Row {
    height: 50px;
    padding-left: 40px;
}

.Nav-Row a {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #757575;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.Nav-Row a:hover {
    color: #272c34;
}

.--Nav-Fold {
    max-height: 0;
    border-top: none;
}

.Nav-Text {

}

.--Nav-Icon {
    margin-left: 10px;
    font-size: 20px;
}

.--Show-At-Mobile {
    display: none;
}

@media screen and (max-width: 800px) {

    .Topbar {
        height: 50px;
        column-gap: 10px;
        grid-template-columns: auto 1fr auto auto;
        padding: 0 10px;
    }

    .Topbar-Logo-Box {
        padding: 0 0;
    }

    .Topbar-Logo-Text {
        -webkit-text-stroke: 1px hsl(217, 14%, 18%);
        color: #7c4dff;
        font-size: 30px;
        margin: 0 0 2px 0;
    }

    .Topbar-Search-Box {
        height: 35px;
    }

    .Search-Input-Box input {
        font-weight: 400;
        font-size: 15px;
        padding-bottom: 3px;
    }

    .Search-Icon-Box {
        font-size: 15px;
    }

    .Topbar-Nav-Tool {
        padding-right: 0;
        font-size: 14px;
    }

    .Topbar-User-Box {
        padding: 0 10px;
    }

    .Topbar-User-Box span {
        font-size: 14px;
    }

    .User-Image-Box {
        width: 30px;
        height: 30px;
    }

    .Nav-Box {
        top: 49px;
    }

    .Search-Icon-Box {
        width: 35px;
        height: 34px;
    }

}

@media screen and (max-width: 450px) {

    .User-Image-Box {
        display: none;
    }

    .Topbar {
        grid-template-columns: 1fr;
        column-gap: 0;
        padding: 5px 10px;
        row-gap: 5px;
        height: auto;
    }

    .Topbar-Column:nth-child(3) {
        display: none;
    }

    .Topbar-Logo-Text {
        margin: 0;
    }

    .Topbar-Nav-Tool {
        position: absolute;
        font-size: 14px;
        top: 9px;
        right: 10px;
    }

    .Nav-Box {
        top: 89px;
    }

    .--Admin-Top-Bar {
        row-gap: 0;
    }

    .--Admin-Nav-Box {
        top: 44px;
    }

    .Nav-Row {
        height: 40px;
        padding-left: 30px;
        font-size: 14px;
    }

    .--Show-At-Mobile {
        display: block;
    }

}

@media screen and (max-width: 400px) {


}