.Store-List-Box {
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    min-height: calc(100vh - 70px);
}

.Sort-Box {
    height: auto;
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    border: none;
    margin-bottom: 20px;
}

.Sort-Btn {
    border: 1px solid #ccc;
    outline: none;
    border-radius: 4px;
    height: 40px;
    margin-right: 20px;
    background-color: #fafafa;
    padding: 10px 20px;
    color: #757575;
    font-weight: 300;
    cursor: pointer;
}

.--Sort-Btn-Active {
    background-color: #616161;
    border: none;
    color: white;
    font-weight: normal;
}

.Card-Box {
    height: auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}

.Store-Card {
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 2px 2px 4px #ccc;
    transition: box-shadow 0.3s ease;
}

.Store-Card:hover {
    box-shadow: 2px 2px 4px #272c34;
}

.Store-Card-Body {
    position: relative;
}

.Store-Card-Title {
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Store-Type {
    position: absolute;
    background-color: #7C4DFF;
    color: white;
    display: inline-flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
}

.Store-Name-Text {
    color: #272c34;
    font-size: 18px;
    font-weight: 500;
}

.Store-Card-Body {
    height: 250px;
}

.Store-Card-Body img {
    width: 100%;
    height: 100%;
}

.Store-Card-Bottom {
    height: 30px;
    text-align: right;
    padding-right: 10px;
}

.Card-Statistic-Group {
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 14px;
}

.Card-Statistic-Value {
    margin-left: 3px;
    margin-bottom: 2px;
}

@media screen and (max-width: 1200px) {

    .Card-Box{
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (max-width: 1000px) {

    .Card-Box{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 800px) {

    .Store-List-Box{
        min-height: calc(100vh - 50px);
        padding: 10px;
    }

    .Sort-Box {
        padding-left: 0;
        margin-bottom: 10px;
        justify-content: center;
    }

    .Card-Box{
        padding: 0 20px;
        row-gap: 10px;
    }

    .Sort-Btn {
        height: 35px;
        padding: 5px 10px;
        font-weight: 300;
        font-size: 14px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 600px) {

    .Card-Box{
        grid-template-columns: repeat(1, 1fr);
    }

    .Card-Statistic-Value{
        font-size: 12px;
    }

    .Store-Name-Text {
        font-size: 15px;
        font-weight: 400;
    }

}

@media screen and (max-width: 450px) {

    .Store-List-Box{
        min-height: calc(100vh - 90px);
    }

}

@media screen and (max-width: 400px) {

    .Card-Box{
        padding: 0;
    }

}