<html>
<head>
    <title>EIKI</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="description" content="에리카 학생들을 위한 학교앞 푸드 위키">
    <meta name="keywords" content="음식,푸드,에리카,학생,위키,학교,학교앞">
    <meta name="author" content="HSJPRIME">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/normalize.css">
    <link rel="stylesheet" href="/resources/css/global.css">
    <style>

    </style>
</head>
<body>
    <div class="Index-Wrapper">
        <div class="Index-Wrapper__Form">

        </div>
    </div>
</body>
</html>
